* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.caixa {
    background-color: red;
    color: white;
    border: solid black 5px;
    height: 100px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}