* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

body { 
    display: flex;
    gap: 20px;
    justify-content: center;
}