@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');




.corpo {
    font-size: 2rem;
    text-align: center;
    background-color: #212529;
    color: #fff;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

}

.menu-lateral {
    background-color: #111418;
    color: #fff;
    height: 100vh;
    width: 35rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: fixed;
}

.logo {
    margin-top: 2rem;
    padding: 3rem;
    font-size: 2rem;
    font-family: 'Tourney';

}


.foto-perfil {
    padding: 0.8rem;
    border-radius: 10rem;
    width: 20rem;
    background-color: #343A40;
    margin-bottom: 1rem;
}

.menu-navegacao ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    font-weight: 700;
    font-size: 2.5rem;
}

.botao-navegacao {
    color: #fff;
    transition: transform 0.3s, color 0.3s;
}

.menu-navegacao ul .botao-navegacao:hover {
    color: #00f7ff;
    transform: scale(1.1);
    transition: transform 0.3s, color 0.3s;
    cursor: pointer;
}

.botao-whatsapp {
    background-color: #00f7ff;
    color: #111418;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    display: inline-block;
    font-family: 'Tourney';
}

.botao-contate-me {
    background-color: rgba(0, 247, 255, 0);
    color: #111418;
    border: 0.5rem solid #00f7ff;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    display: inline-block;
    font-family: 'Tourney';
}

.botao-whatsapp:hover,
.botao-contate-me:hover {
    background-color: #00c1c7;
    color: #fff;
    transform: scale(1.1);
    transition: 0.3s;
}

.lista-icones {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    gap: 0.5rem;

}

.icones {
    width: 2.6rem;
    margin: 0rem 0.4rem 0.4rem;
    border-radius: 1.1rem;
}


.icones:hover {
    transform: scale(1.2);
    transition: 0.3s;
    background-color: #00c1c7;

}

.bloco-com-icones {
    display: flex;
    justify-content: center;
}



.container-principal {
    margin-left: 35rem;
}

#inicio {
    background-image: url(../imgs/wallpaper_cinza.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 4rem;
    text-align: center;
    height: 100vh;
    font-size: 5rem;
    font-family: 'Tourney';

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#inicio p,
#inicio h2 {
    color: #000000;

}

.titulo-sobreposto {
    font-size: 14rem;
    font-weight: 900;
    color: rgba(151, 151, 151, 0.1);
}

.texto-sobreposto,
.linha-de-divisao {
    position: relative;
    top: -9.5rem;
    font-size: 3rem;
}

.linha-de-divisao {
    width: 10rem;
    border: 0.3rem solid #00f7ff;
    border-radius: 1rem;
    margin: 1.5rem auto;
}



#sobre-mim {
    padding: 4rem;
    text-align: center;
    font-size: 2rem;
    background-color: #212529;
    color: #fff;
}

.container-sobre-mim {
    display: flex;
    flex-direction: row;
    background-color: blue;
    gap: 5rem;
}

.container-lista-sobre-mim-e-botao-whatsapp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 500rem;
    background-color: green;
}

#servicos {
    padding: 4rem;
    text-align: center;
    font-size: 3rem;
    background-color: #343A40;
    color: #fff;
}

#resumo {
    padding: 4rem;
    text-align: center;
    font-size: 3rem;
    background-color: #212529;
    color: #fff;

}

#resumo ul {
    text-align: justify;
    list-style: circle;
    padding: 3rem;
   /* background-color: #343A40;
    border-radius: 8px; */
}


#resumo h3 {
    color: #00f7ff;
    margin-bottom: 0.5rem;
}
/*
#resumo h4 {
    margin-bottom: 2rem;
    font-weight: 400;
} */

#contato {
    padding: 4rem;
    text-align: center;
    font-size: 3rem;
    background-color: #343A40;
    color: #fff;
}

.rodape {
    background-color: #111418;
    color: #fff;
    height: 6rem;
    text-align: center;
}